# Rotten Tomatoes
## Top Box Office

In [1]:
import requests
import re
from bs4 import BeautifulSoup

In [2]:
url= requests.get("https://www.rottentomatoes.com/")
soup = BeautifulSoup(url.text,'html.parser')

In [3]:
top_box_office= [w for w in soup.findAll('table',id="Top-Box-Office" ) ][0]

In [4]:
movies_name =[w.text.replace('\n','') for w in top_box_office.findAll("td", "middle_col") if w.text]
movies_name

['Star Wars: The Last Jedi',
 'Jumanji: Welcome to the Jungle',
 'Pitch Perfect 3',
 'The Greatest Showman',
 'Ferdinand',
 'Coco',
 'Downsizing',
 'Darkest Hour',
 'Father Figures',
 'The Shape of Water']

In [5]:
rating =[w.text for w in top_box_office.findAll("span") if w.text]
rating

['91%', '78%', '30%', '52%', '72%', '97%', '51%', '84%', '22%', '93%']

In [6]:
#column=[]
#if top_box_office.find('span').next_sibling:
#    column.append(top_box_office.findAll('span')[1]["class"][0])    
#column

In [7]:
earnings=[t.text.replace("\n",'') for t in top_box_office.findAll("td","right_col right") if t.text]
for i in range(len(earnings)):
    earnings[i]=re.sub(r'\s+', '', earnings[i])
print (earnings)

['$101M', '$52.2M', '$25.6M', '$14.1M', '$9.8M', '$7.5M', '$7.3M', '$5.5M', '$5M', '$4.3M']

In [8]:
import pandas as pd

In [9]:
Top_Box_Office= pd.DataFrame(list(zip(movies_name,earnings)), index= rating)
Top_Box_Office

                                  0       1
91%        Star Wars: The Last Jedi   $101M
78%  Jumanji: Welcome to the Jungle  $52.2M
30%                 Pitch Perfect 3  $25.6M
52%            The Greatest Showman  $14.1M
72%                       Ferdinand   $9.8M
97%                            Coco   $7.5M
51%                      Downsizing   $7.3M
84%                    Darkest Hour   $5.5M
22%                  Father Figures     $5M
93%              The Shape of Water   $4.3M

### With heading

In [10]:
Rating_Earning=list(zip(movies_name,earnings))
Rating_Earning

[('Star Wars: The Last Jedi', '$101M'),
 ('Jumanji: Welcome to the Jungle', '$52.2M'),
 ('Pitch Perfect 3', '$25.6M'),
 ('The Greatest Showman', '$14.1M'),
 ('Ferdinand', '$9.8M'),
 ('Coco', '$7.5M'),
 ('Downsizing', '$7.3M'),
 ('Darkest Hour', '$5.5M'),
 ('Father Figures', '$5M'),
 ('The Shape of Water', '$4.3M')]

In [11]:
columns_name=['Movies','Earning']
column3= [movies_name,earnings]

In [12]:
columns1= {col: val for col,val in (zip(columns_name,column3))}

In [13]:
Top_Box_Office1= pd.DataFrame(columns1, index= rating)

In [14]:
Top_Box_Office1

    Earning                          Movies
91%   $101M        Star Wars: The Last Jedi
78%  $52.2M  Jumanji: Welcome to the Jungle
30%  $25.6M                 Pitch Perfect 3
52%  $14.1M            The Greatest Showman
72%   $9.8M                       Ferdinand
97%   $7.5M                            Coco
51%   $7.3M                      Downsizing
84%   $5.5M                    Darkest Hour
22%     $5M                  Father Figures
93%   $4.3M              The Shape of Water

# Times of India 
## India In Today's Headline

In [15]:
page1 = requests.get("https://timesofindia.indiatimes.com/india")
soup1 = BeautifulSoup(page1.text, 'html.parser')

In [16]:
link= [w for w in soup1.findAll("ul","list5 clearfix")]

In [17]:
Today_headlines_of_India=[]
for i in range(len(link)):
    for w in link[i].findAll('a'):
        if w.text:
            Today_headlines_of_India.append(w.text)

In [18]:
Today_headlines_of_India

['Registration of more than 23,000 NGOs not renewed since 2014',
 '486 Rohingyas in India on long-term visa, 40,000 residing illegally: Rijiju',
 'Failure of railway staff top reason behind accidents: Railways',
 "Kulbhushan Jadhav's wife, mother depressed after what happened in Pakistan, says family",
 '183 women killed in Jharkhand in last 4 years over witchcraft allegations',
 'Parl Standing Committee members differ on discussing Aadhaar',
 'Govt eyes 100% electric public transport through FAME II',
 "Thank you, 'Mr Jaitlie': Rahul Gandhi's stinging comeback",
 'Over 3,000 trains delayed due to fog in November and December: Railways',
 'CBI techie arrested for subverting rail ticketing system',
 "PM Modi does not question Manmohan Singh's integrity, Arun Jaitley tells RS to end stalemate",
 'No separate data on children killed or raped in schools: Govt',
 "Jadhav-family meet: Pakistan restrictions 'inhuman', says Vice President Naidu",
 "Nepal rejects India's offer to jointly remeasure Mt Everest",
 "'418 armed forces personnel committed suicide in last 4 yrs'",
 'BJP leader moves court seeking sedition case against Mani Shankar Aiyar',
 'Bamboo not a tree: Parliament passes bill amending Forest Act',
 "Can't change India's mentality on OBOR, but doors of cooperation open: Chinese media",
 'Yogi Adityanath to get relief as his govt moves to withdraw 22-yr-old case against him',
 "Tibet earthquake caused Brahmaputra's turbidity: China",
 "CPEC's extension to Afghanistan not directed against India: China",
 'People have clearly understood the 2G case verdict: Raja',
 'Triple talaq bill unacceptable if against Quran: AIMWPLB',
 'No proposal to increase fares: Railways',
 'Over 4.5 lakh Indians acquired foreign citizenship since 2014: Govt',
 "Today's Google Doodle remembers Mirza Ghalib on his 220th birthday",
 'Hegde should apologize or be sacked: opposition parties',
 'Why this place in Shimla is special to PM Modi',
 '20 TN fishermen released by Lankan govt, repatriated',
 "'BJD does not face any anti-incumbency'",
 'LS adjourns twice amid vociferous Oppn protests',
 "'PM Modi didn't mean to question Manmohan Singh's commitment to India,' says BJP's Arun Jaitley in RS",
 "Congress slams government for 'botched' Jadhav meet, calls it 'diplomatic failure'",
 "BJP calls this man 'Santa', while Congress calls him 'Bad Santa'",
 "Opposition disrupts Rajya Sabha proceedings over Hegde's remarks",
 'Jai Ram Thakur takes oath as new Himachal CM',
 "SP leader courts controversy on  Kulbhushan Jadhav issue, BJP calls it 'betrayal of national interest'",
 "'Splitting Pak into 4 parts is the only permanent solution,' says Subramanian Swamy",
 'Rahul Gandhi to decide my future role in party: Ahmed Patel',
 "'There was something in her shoes,' says Pakistan about confiscating footwear of Jadhav's wife",
 'VOIP exchanges used by ISI busted in Andhra Pradesh, seven held',
 "PM Modi, Amit Shah to be present at Jai Ram Thakur's oath ceremony today",
 'Minister talks about change in Constitution, faces threat',
 'Triple talaq bill: Activists seek more talks before draft becomes law',
 'Showdown likely as opposition opposes penal provisions of instant talaq bill',
 'Foreigner or citizen? Assam finds out at stroke of midnight on Dec 31',
 '‘Only soft posting’: CRPF wants to retain VIP duty',
 '20-member Team Vijay Rupani begins 2nd innings in Gujarat',
 'Deputy CM: Not in Constitution, yet a post with a long history',
 '18 of 20 ministers in new Gujarat cabinet crorepatis: Study']